h1{
    color:tomato;
    text-align: center;
}
.footer{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: burlywood;
}

#yt{
    color:rgb(238, 10, 10);\
}
#fb{
    color:rgb(65, 125, 236)
}
a{
    text-decoration: none;
}
span{
    color:red
}
.deco{
    color: saddlebrown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}